
@mixin alert($bg) {
  // position: absolute;
  background : $bg;
  padding : 15px;
  border-radius : 5px;
  max-width : 500px;
  width : 100%;
  margin : auto;
}
.my-alert {
  @include alert(#eee);
}

.my-alert p {
  margin-bottom : 0;
}

.my-alert2 {
  @include alert(ivory);
}