.App {
  text-align: center;
}

.container {
  padding: 2rem 0;
}

.main-visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background:url(./images/main_visual.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

.ly-footer {
  background: #eee;
  height: 100px;
  padding: 2rem 0;
  margin-top: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

